<ion-view hide-tabs="true">
  <ion-nav-title>
    {{isYp?'关于荆点':'关于易订'|T}}
  </ion-nav-title>
  <ion-content style="background: #fff;">
    <div class="text-center" style="margin-top: 30px;">
      <div style="margin-bottom: 20px;">
        <img src="images/icon_logo@3x.png" style="width: 60px;height: 60px;" alt="" ng-if="!isYp">
        <img src="images/logo-jd.png" style="width: 120px;height: 60px;" alt="" ng-if="isYp">
      </div>
      <span class="icon-star" ng-show="info.businessType == 1"></span>
      <p class="span-black bold" style="font-family: Microsoft YaHei;padding-top: 5px;">
        V 2020.03.05-20.00.45
      </p>
    </div>
    <div class="span-gray" style="font-size: 14px;padding: 0 27px;margin-top: 30px;" ng-if="!isYp">
      <p style="margin-bottom:3px;">
        &nbsp;&nbsp;&nbsp;&nbsp;{{'“易订”专注于垂直细分行业领域互联网应用。由资深互联网人与餐饮专业人士共同发起并获得VC机构天使轮融资。致力于用移动互联网思维优化传统大餐饮预订流程，以预订为入口帮助客户整合和梳理CRM关键节点，为管理层提供简单、高效、易用的移动端工具。'|T}}
      </p>
      <p style="margin-bottom:3px;">
        &nbsp;&nbsp;&nbsp;&nbsp;{{'“易订智能预订台”及“易订APP”产品发布以来，已在数百家知名餐饮企业上线，获得大批餐饮专业人士的广泛美誉。'|T}}
      </p>
      <p style="margin-bottom:3px;">
        &nbsp;&nbsp;&nbsp;&nbsp;{{'展望未来，“易订”将继续遵循服务B端、深耕B端的经营理念，依托行业协会及业内资源，适时导入精准供应链、会员互动交流等服务。'|T}}
      </p>
    </div>
    <div class="span-gray" style="font-size: 14px;padding: 0 27px;margin-top: 30px;" ng-if="isYp">
      <p style="margin-bottom:3px;">
        &nbsp;&nbsp;&nbsp;&nbsp;“荆点”智慧SaaS管理系统由餐饮管理大师赖建全先生联合“正品贵德”、“易订”共同打造完成。系统以“提升经营效益”为主旨，将赖建全大师多年餐饮管理成功理念融入日常经营环节，实现预订营销、会员营销、服务营销、支付营销、成本管控等体系化的快速落地运营方案。
      </p>
    </div>

  </ion-content>
</ion-view>
