<ion-view hide-tabs="true">
  <ion-nav-title>{{'安心卡管理'|T}}</ion-nav-title>
  <ion-content ion-sticky>
    <div class="q-axl-container">
      <div class="q-axl-header">
        <div style="font-weight:bold;">2020-03-03 安心卡责任人员</div>
        <div style="margin-top: 19px;">午餐</div>
      </div>
      <div>
        <div
          ng-click="showAnxinPersonSelect(1, foodPersons, 1)"
          ng-show="foodPersons.length <= 0"
          class="q-axl-none"
        >
          <div style="font-weight: bold;">{{'菜品责任人' | T}}</div>
          <div>{{'配置人员' | T}}></div>
        </div>
        <div ng-show="foodPersons.length > 0" class="q-axl-list-container">
          <div class="q-axl-title">
            <div style="font-weight: bold;">{{'菜品责任人' | T}}</div>
          </div>
          <div class="q-axl-list">
            <div
              ng-click="showAnxinPersonSelect(1, foodPersons, 1)"
              ng-repeat="person in foodPersons"
              class="q-axl-list-item"
            >
              <image class="q-axl-list-item-icon" src="{{person.icon}}"></image>
              <div class="q-axl-list-item-name">{{person.name}}</div>
              <div class="q-axl-list-item-lt">></div>
              <div class="q-axl-list-item-gang">|</div>
              <div class="q-axl-list-item-temp-label">
                体温
              </div>
              <div class="q-axl-list-item-temp">
                {{person.tempDesc}}
              </div>
            </div>
          </div>
        </div>
        <div
          ng-click="showAnxinPersonSelect(1, deliverPersons, 2)"
          ng-show="deliverPersons.length <= 0"
          class="q-axl-none"
        >
          <div style="font-weight: bold;">{{'传菜责任人' | T}}</div>
          <div>{{'配置人员' | T}}></div>
        </div>
        <div ng-show="deliverPersons.length > 0" class="q-axl-list-container">
          <div class="q-axl-title">
            <div style="font-weight: bold;">{{'传菜责任人' | T}}</div>
          </div>
          <div class="q-axl-list">
            <div
              ng-click="showAnxinPersonSelect(1, deliverPersons, 2)"
              ng-repeat="person in deliverPersons"
              class="q-axl-list-item"
            >
              <image class="q-axl-list-item-icon" src="{{person.icon}}"></image>
              <div class="q-axl-list-item-name">{{person.name}}</div>
              <div class="q-axl-list-item-lt">></div>
              <div class="q-axl-list-item-gang">|</div>
              <div class="q-axl-list-item-temp-label">
                体温
              </div>
              <div class="q-axl-list-item-temp">
                {{person.tempDesc}}
              </div>
            </div>
          </div>
        </div>
        <div
          ng-click="showAnxinPersonSelect(2, serverPersons, 3)"
          ng-show="serverPersons.length <= 0"
          class="q-axl-none"
        >
          <div style="font-weight: bold;">{{'服务员' | T}}</div>
          <div>{{'配置人员' | T}}></div>
        </div>
        <div ng-show="serverPersons.length > 0">
          <div class="q-axl-list-container">
            <div
              class="q-axl-title"
              style="display: flex; align-items: center; justify-content: space-between;"
            >
              <div style="font-weight: bold;">{{'服务员' | T}}</div>
              <div ng-click="showAnxinPersonSelect(2, serverPersons, 3)">
                {{'修改人员' | T}}>
              </div>
            </div>
            <div class="q-axl-list">
              <div
                ng-click="showAnxinPersonSelect(1, [person], 3)"
                ng-repeat="person in serverPersons"
              >
                <div class="q-axl-list-item">
                  <image
                    class="q-axl-list-item-icon"
                    src="{{person.icon}}"
                  ></image>
                  <div class="q-axl-list-item-name">{{person.name}}</div>
                  <div class="q-axl-list-item-lt">></div>
                  <div class="q-axl-list-item-gang">|</div>
                  <div class="q-axl-list-item-temp-label">
                    体温
                  </div>
                  <div class="q-axl-list-item-temp">
                    {{person.tempDesc}}
                  </div>
                </div>
                <div ng-click="goAnxinRegionSelect()" class="q-axl-list-region">
                  <div>{{'固定服务区域' | T}}</div>
                  <div>{{person.regionDesc}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-axl-bottom">
        <button>{{'提交' | T}}</button>
      </div>
    </div>
  </ion-content>
</ion-view>
