<ion-view hide-tabs="true">
  <ion-nav-title>
    {{'销售员列表'|T}}
  </ion-nav-title>
  <ion-content>
    <div class="list" style="margin-bottom:0;padding-bottom: 70px;">
      <div class="item row">
          <span class="col col-10"></span>
          <span class="col col-25">{{'姓名'|T}}</span>
          <span class="col col-40">{{'手机号'|T}}</span>
          <span class="col col-25">{{'当前线索数'|T}}</span>
      </div>

      <div class="item row" ng-repeat="item in appUserList" ng-click="check($index,$event)">
          <span class="col col-10">
            <label class="radio-label" ng-class="item.isCheck==1?'check':''">
              <input type="radio">
            </label>
          </span>
          <span class="col col-25">{{item.appUserName}}</span>
          <span class="col col-40">{{item.appUserPhone.slice(0, 3) + '*****' + item.appUserPhone.slice(8)}}</span>
          <span class="col col-25">{{item.keyNum}}</span>
      </div>
    </div>
  </ion-content>
  <div class="bottom-btn" ng-click="commit()" style="background-color: #ff2741;color:#fff;">{{'确  定'|T}}</div>
</ion-view>
