<ion-view hide-tabs="true">
  <ion-nav-title>{{'联系我们'|T}}</ion-nav-title>
  <ion-content style="border-top: 1px solid #ddd;">
    <div class="list">
      <a ui-sref="tab.dash-contact-he" class="item item-icon-left item-icon-right">
        <i class="tab-account-icon left-center" style="background-image: url('img/ico_coopera@3x.png');background-color: #D76959"></i>
        {{'商务合作'|T}}
        <i class="icon icon-right-arrow"></i>
      </a>
      <a ui-sref="tab.dash-contact-you" class="item item-icon-left item-icon-right">
        <i class="tab-account-icon left-center" style="background-image: url('img/ico_reward@3x.png');background-color: #B287D8"></i>
        {{'有奖推荐'|T}}
        <i class="icon icon-right-arrow"></i>
      </a>
      <a ui-sref="tab.dash-contact-yi" class="item item-icon-left item-icon-right">
        <i class="tab-account-icon left-center" style="background-image: url('img/ico_request@3x.png');background-color: #76A6DF"></i>
        {{'意见反馈'|T}}
        <i class="icon icon-right-arrow"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
