<ion-view hide-tabs="true" cache-view="false">
  <ion-nav-title>{{'报名信息'|T}}</ion-nav-title>
  <ion-nav-buttons  side="left">
    <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
        <i class="icon icon-back" style="vertical-align: middle;"></i>
    </button>
  </ion-nav-buttons>
  <ion-content style="border-top: 1px solid #ddd;">
    <div class="item row">
      <span class="input-label">{{'姓名'|T}}</span>
      <input type="text" class="text-right input-style col" placeholder="{{'必填'|T}}" ng-model="data.customerName" id="customerName">
    </div>
    <div class="item row">
      <span class="input-label">{{'手机'|T}}</span>
      <input type="tel" class="text-right input-style col" placeholder="{{'必填'|T}}" ng-model="data.phone" id="phone">
    </div>
    <div class="item row">
      <span class="input-label">{{'单位'|T}}</span>
      <input type="text" class="text-right input-style col" placeholder="{{'必填'|T}}" ng-model="data.departmentName" id="departmentName">
    </div>
    <div class="item row">
      <span class="input-label">{{'职位'|T}}</span>
      <input type="text" class="text-right input-style col" placeholder="{{'必填'|T}}" ng-model="data.post" id="post">
    </div>
    <div class="item row">
      <span class="input-label">{{'报名人数'|T}}</span>
      <input type="tel" class="text-right input-style col" placeholder="{{'必填'|T}}" ng-model="data.num" id="num">
    </div>
  </ion-content>
  <div class="row bar bar-footer" style="background-color: transparent;border:0;padding: 0 20px 10px;">
    <div class="text-center ng-binding" style="background-color: #ff2741;color: #fff;width: 100%;height: 40px;line-height: 40px;border-radius: 4px;" ng-click="submit()">{{'提交'|T}}</div>
</ion-view>
