<ion-view hide-tabs="true">
  <ion-nav-title>{{'订单状态变更'|T}}</ion-nav-title>
  <ion-content>
    <a ui-sref="#" class="item item-divider disable-pointer-events" style="margin-top: 1px;">
      <i class="icon ion-information span-gray" style="font-size: 16px;"></i>
      {{'状态记录'|T}}
    </a>
    <div class="item clear state-change-div" style="padding-left: 10%;padding-top:0;padding-bottom: 0;">
      <div class="clear state-change-main">
        <i class="state-change-main-circle"></i>
        <div class="clear state-change-item">
          <p>{{'客户已下单'|T}}</p>
          <p>2017/5/4 14:23</p>
        </div>
      </div>
      <div class="clear state-change-main">
        <i class="state-change-main-circle"></i>
        <div class="clear state-change-item">
          <p>{{'客户已下单'|T}}</p>
          <p>2017/5/4 14:23</p>
        </div>
      </div>
      <div class="clear state-change-main">
        <i class="state-change-main-circle"></i>
        <div class="clear state-change-item">
          <p>{{'客户已下单'|T}}</p>
          <p>2017/5/4 14:23</p>
        </div>
      </div>
      <div class="clear state-change-main">
        <i class="state-change-main-circle"></i>
        <div class="clear state-change-item">
          <p>{{'客户已下单'|T}}</p>
          <p>2017/5/4 14:23</p>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
