<ion-view title="发票地址" hide-tabs="true">
  <ion-content>
    <div class="list">
      <div class="item tab-myOrder-detail-item" style="border-width:0;color:#333;">
        收货人：青楼
        <span class="right">18758428901</span>
      </div>
      <div class="item tab-myOrder-detail-item item-icon-left" style="border-width:0;">
        <i class="icon ion-ios-location" style="font-size: 24px;color:#76A6DF;"></i>
        <span style="font-size: 12px;color: #999;">江苏省 扬州 扬州经济开发区</span><br>
        <span  style="font-size: 12px;color: #999;">东路街道21号滴滴大酒店</span>
      </div>
    </div>
    <div class="list" style="border: 3px solid #D76959;border-top: 2px solid #D76959;border-bottom: 2px solid #D76959;">
      <div class="item tab-myOrder-detail-item" style="border-width:0;color:#333;">
        收货人：青楼
        <span class="right">18758428901</span>
      </div>
      <div class="item tab-myOrder-detail-item item-icon-left" style="border-width:0;">
        <i class="icon ion-ios-location" style="font-size: 24px;color:#76A6DF;"></i>
        <span style="font-size: 12px;color: #999;">江苏省 扬州 扬州经济开发区</span><br>
        <span  style="font-size: 12px;color: #999;">东路街道21号滴滴大酒店</span>
      </div>
    </div>
    <div class="list">
      <div class="item tab-myOrder-detail-item" style="border-width:0;color:#333;">
        收货人：青楼
        <span class="right">18758428901</span>
      </div>
      <div class="item tab-myOrder-detail-item item-icon-left" style="border-width:0;">
        <i class="icon ion-ios-location" style="font-size: 24px;color:#76A6DF;"></i>
        <span style="font-size: 12px;color: #999;">江苏省 扬州 扬州经济开发区</span><br>
        <span  style="font-size: 12px;color: #999;">东路街道21号滴滴大酒店</span>
      </div>
    </div>
    <div ui-sref="AddAdd" class="item button button-positive button-block text-center" style="min-height: 0;">
      新增地址
    </div>
  </ion-content>
</ion-view>
