<ion-view view-title="订单详情" hide-nav-bar>
  <ion-nav-buttons  side="left">
    <button class="button button-icon" ng-click="goBack($event)">
      <i style="color:#64B25D;">返回</i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <div class="item row" style="border-width: 0;margin:0;">
        <div class="col-25 text-center" style="padding-top: 10px;padding-bottom: 10px;">
          <p>
            <i class="icon ion-clipboard shopping-icon border-gray"  ng-class="{'border-red':(orderData.orderStatus>=2)}"></i>
          </p>
          <p style="margin-top:10px;">
            <span style="font-weight: 600;" class="order-gray" ng-class="{'order-red':(orderData.orderStatus>=2)}">下单成功</span>
          </p>
        </div>
        <div class="col-25 text-center" style="padding-top: 10px;padding-bottom: 10px;">
          <p>
            <i class="icon ion-social-yen shopping-icon border-gray"  ng-class="{'border-red':(orderData.orderStatus>=4)}" ></i>
          </p>
          <p style="margin-top:10px;">
            <span style="font-weight: 600;" class="order-gray" ng-class="{'order-red':(orderData.orderStatus>=4)}">支付完成</span>
          </p>
        </div>
        <div class="col-25 text-center" style="padding-top: 10px;padding-bottom: 10px;">
          <p>
            <i class="icon ion-android-bicycle shopping-icon border-gray"  ng-class="{'border-red':(orderData.orderStatus>=5)}"></i>
          </p>
          <p style="margin-top:10px;">
            <span style="font-weight: 600;" class="order-gray" ng-class="{'order-red':(orderData.orderStatus>=5)}">商品发货</span>
          </p>
        </div>
        <div class="col-25 text-center" style="padding-top: 10px;padding-bottom: 10px;">
          <p>
            <i class="icon ion-android-done shopping-icon border-gray" ng-class="{'border-red':(orderData.orderStatus>=6)}"></i>
          </p>
          <p style="margin-top:10px;">
            <span style="font-weight: 600;" class="order-gray" ng-class="{'order-red':(orderData.orderStatus>=4)}">交易完成</span>
          </p>
        </div>
      </div>
    </div>
    <div class="list">
      <div class="item tab-myOrder-detail-item" style="border-width:0;color:#333;">
        收货人：{{orderData.expressAddress.destPerson}}
        <span class="right">{{orderData.expressAddress.destPhone}}</span>
      </div>
      <div class="item tab-myOrder-detail-item item-icon-left" style="border-width:0;">
        <i class="icon ion-ios-location" style="font-size: 24px;color:#76A6DF;"></i>
        <span style="font-size: 12px;color: #999;">{{orderData.expressAddress.area}}</span><br>
        <span  style="font-size: 12px;color: #999;">{{orderData.expressAddress.address}}</span>
      </div>
    </div>
    <div class="list">
      <div class="item-divider" style="padding-left:12px;">商品详情</div>
      <div class="item row" style="height:auto;background-color: #fafafa;border-width: 0;margin:0;">
        <div class="col-33" style="text-align: center;margin: auto;">
          <img ng-src="{{orderData.imageUrl}}" height="73px" alt="">
        </div>
        <div class="col-67" style="padding-left: 15px;border-right:0;">
          <p style="margin:0 0 10px;">{{orderData.productName}}</p>
          <p style="margin:0 0 10px;"><span style="color:#D76959;font-weight: 600;">¥ {{orderData.singlePrice}}</span><span>/500克</span></p>
          <p style="margin:0 0 10px;padding-right:10px;"><span style="color:#D76959;font-weight: 600;">¥ {{orderData.productPrice}}</span><span>/箱</span>
            <span class="right" style=""> X{{orderData.productNum}}</span>
          </p>
        </div>
      </div>
      <div class="item tab-myOrder-detail-item" style="border-width:0;">
        <span style="font-size: 14px;">合计</span>
        <span class="right" style="font-size: 14px;">¥ {{orderData.total.toFixed(2)}} (含运费 ¥ {{orderData.expressTotal.toFixed(2)}})</span>
      </div>
      <div class="item tab-myOrder-detail-item" style="border-width:0;padding-right:30px;">
        <span style="font-size: 16px;color:#D76959;">实付款</span>
        <span class="right" style="font-size: 12px;"><span style="font-size: 16px;color:#D76959;">¥ {{orderData.realPayAmt.toFixed(2)}}</span></span>
      </div>
      <div class="item tab-myOrder-detail-item" ng-if="(orderData.orderStatus==2)">
        <span class="right" ng-click="goSubmit(orderData.orderNo)" style="font-size: 12px;border: 1px solid #aaa;padding:1px 8px;border-radius:15px">已完成余款支付</span>
      </div>
    </div>
    <div class="list">
      <div class="item tab-myOrder-detail-item" style="border-width:0;">
        <span style="font-size: 14px;color: #AAAAAA;">订单编号</span>
        <span class="right" style="font-size: 14px;color: #AAAAAA;">{{orderData.orderNo}}</span>
      </div>
      <div class="item tab-myOrder-detail-item" style="border-width:0;">
        <span style="font-size: 14px;color: #AAAAAA;">订单创建时间</span>
        <span class="right" style="font-size: 14px;color: #AAAAAA;">{{orderData.orderDate}}</span>
      </div>
      <div class="item tab-myOrder-detail-item" style="border-width:0;" ng-if="orderData.orderPayDate">
        <span style="font-size: 14px;color: #AAAAAA;">订金支付时间</span>
        <span class="right" style="font-size: 14px;color: #AAAAAA;">{{orderData.orderPayDate}}</span>
      </div>
      <div class="item tab-myOrder-detail-item" style="border-width:0;" ng-if="orderData.footerOrderPayDate">
        <span style="font-size: 14px;color: #AAAAAA;">余款支付时间</span>
        <span class="right" style="font-size: 14px;color: #AAAAAA;">{{orderData.footerOrderPayDate}}</span>
      </div>
      <div class="item tab-myOrder-detail-item" style="border-width:0;" ng-if="orderData.expressDate">
        <span style="font-size: 14px;color: #AAAAAA;">发货时间</span>
        <span class="right" style="font-size: 14px;color: #AAAAAA;">{{orderData.expressDate}}</span>
      </div>
      <div class="item tab-myOrder-detail-item" style="border-width:0;" ng-if="orderData.transactionEndDate">
        <span style="font-size: 14px;color: #AAAAAA;">成交时间</span>
        <span class="right" style="font-size: 14px;color: #AAAAAA;">{{orderData.transactionEndDate}}</span>
      </div>
    </div>
  </ion-content>
</ion-view>
