<ion-view hide-tabs="true">
  <ion-nav-title>{{'订单列表'|T}}</ion-nav-title>
  <ion-content style="padding:10px 0">
    <div ng-repeat="order in orderList" class="list list-card">
      <div class="row list-card-top">
        <span class="tab-account-message-detail-icon" style="margin: 0;width: 28px;height: 28px;margin-right: 8px;"></span>
        <span class="col">{{order.vipName}}<span class="myOrder-gray-font" style="margin-left: 5px;">{{order.vipPhone}}</span></span>
        <i style="font-size:14px;color:#999;">{{'消费金额'|T}}：{{order.payamount}}</i>
      </div>
      <div data-resvOrder={{order.resvOrder}} ng-click="goOrderDetail($event)" class="list-card-middle row">
        <div class="col disable-pointer-events">
          <div class="disable-pointer-events myOrder-gray-font" style="padding-top:3px;white-space: pre-wrap;">{{order.tableAreaName}} {{order.tableNo}}</div>
          <div class="disable-pointer-events">
            <span class="myOrder-gray-font">{{order.appUserName}}</span>
            <span class="right" style="color: #999;">{{order.resvDate}}</span>
          </div>
        </div>
        <i class="disable-pointer-events icon icon-right-arrow"></i>
      </div>
    </div>
    <ion-infinite-scroll
      ng-if="canLoad"
      immediate-check="false"
      distance="2%"
      on-infinite="doInfinite()">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
