
<ion-view hide-tabs="true">
  <ion-nav-title>{{'统计'|T}}</ion-nav-title>
  <ion-content>
    <div class="list">
        <div ng-repeat="sale in saleList" class="disable-pointer-events item row" style="padding-top:5px;padding-bottom:5px;">
          <i class="tab-custom-icon chat-name-font left-center text-center" style="background-color:{{sale.color}};margin-right:10px;">{{sale.appUserName[0]}}</i>
          <div class="col">
            <div>
              <span class="myOrder-black-font">{{sale.appUserName}}</span>
              <span class="myOrder-gray-font">{{sale.appUserPhone}}</span>
              <span class="myOrder-gray-font">{{sale.orderNum}}{{'单'|T}}</span>
              <span style="color:#D76959;float: right;">¥{{sale.orderAmt}}</span>
            </div>
            <div class="myOrder-gray-font chat-div-contain">
              <div class="chat-div-gray">
                <div class="chat-div-gray" style="background-color:{{sale.color}};width:{{sale.width}}%;"></div>
              </div>
            </div>
          </div>
        </div>
    </div>

        <!--<div class="list">-->
          <!--<a ui-sref="myCustom-info-record" class="item item-icon-left" style="padding-top:5px;padding-bottom:5px;">-->
            <!--<i class="tab-custom-icon chat-name-font left-center text-center" style="background-color:#b993db;">刘</i>-->
            <!--<div>-->
              <!--<span class="myOrder-black-font">刘一</span>-->
              <!--<span class="myOrder-gray-font">15988802169</span>-->
              <!--<span class="myOrder-gray-font">51次</span>-->
              <!--<span style="color:#b993db;float: right;">¥12555</span>-->
            <!--</div>-->
            <!--<div class="myOrder-gray-font chat-div-contain">-->
              <!--<div class="chat-div-gray">-->
                <!--<div class="chat-div-gray" style="background-color:#b993db;width:30%;"></div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</a>-->
          <!--<a href="javascript:0" class="item item-icon-left" style="padding-top:5px;padding-bottom:5px;">-->
            <!--<i class="tab-custom-icon chat-name-font left-center text-center" style="background-color:#6CC1AD;">刘</i>-->
            <!--<div>-->
              <!--<span class="myOrder-black-font">刘二</span>-->
              <!--<span class="myOrder-gray-font">15988802169</span>-->
              <!--<span class="myOrder-gray-font">51次</span>-->
              <!--<span style="color:#6CC1AD;float: right;">¥12555</span>-->
            <!--</div>-->
            <!--<div class="myOrder-gray-font chat-div-contain">-->
              <!--<div class="chat-div-gray">-->
                <!--<div class="chat-div-gray" style="background-color:#6CC1AD;width:40%;"></div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</a>-->
          <!--<a href="javascript:0" class="item item-icon-left" style="padding-top:5px;padding-bottom:5px;">-->
            <!--<i class="tab-custom-icon chat-name-font left-center text-center" style="background-color:#DA7769;">刘</i>-->
            <!--<div>-->
              <!--<span class="myOrder-black-font">刘三</span>-->
              <!--<span class="myOrder-gray-font">15988802169</span>-->
              <!--<span class="myOrder-gray-font">51次</span>-->
              <!--<span style="color:#DA7769;float: right;">¥12555</span>-->
            <!--</div>-->
            <!--<div class="myOrder-gray-font chat-div-contain">-->
              <!--<div class="chat-div-gray">-->
                <!--<div class="chat-div-gray" style="background-color:#DA7769;width:50%;"></div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</a>-->
          <!--<a href="javascript:0" class="item item-icon-left" style="padding-top:5px;padding-bottom:5px;">-->
            <!--<i class="tab-custom-icon chat-name-font left-center text-center" style="background-color:#b993db;">刘</i>-->
            <!--<div>-->
              <!--<span class="myOrder-black-font">刘四</span>-->
              <!--<span class="myOrder-gray-font">15988802169</span>-->
              <!--<span class="myOrder-gray-font">51次</span>-->
              <!--<span style="color:#b993db;float: right;">¥12555</span>-->
            <!--</div>-->
            <!--<div class="myOrder-gray-font chat-div-contain">-->
              <!--<div class="chat-div-gray">-->
                <!--<div class="chat-div-gray" style="background-color:#b993db;width:30%;"></div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</a>-->
          <!--<a href="javascript:0" class="item item-icon-left" style="padding-top:5px;padding-bottom:5px;">-->
            <!--<i class="tab-custom-icon chat-name-font left-center text-center" style="background-color:#6CC1AD;">刘</i>-->
            <!--<div>-->
              <!--<span class="myOrder-black-font">刘五</span>-->
              <!--<span class="myOrder-gray-font">15988802169</span>-->
              <!--<span class="myOrder-gray-font">51次</span>-->
              <!--<span style="color:#6CC1AD;float: right;">¥12555</span>-->
            <!--</div>-->
            <!--<div class="myOrder-gray-font chat-div-contain">-->
              <!--<div class="chat-div-gray">-->
                <!--<div class="chat-div-gray" style="background-color:#6CC1AD;width:40%;"></div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</a>-->
          <!--<a href="javascript:0" class="item item-icon-left" style="padding-top:5px;padding-bottom:5px;">-->
            <!--<i class="tab-custom-icon chat-name-font left-center text-center" style="background-color:#DA7769;">刘</i>-->
            <!--<div>-->
              <!--<span class="myOrder-black-font">刘六</span>-->
              <!--<span class="myOrder-gray-font">15988802169</span>-->
              <!--<span class="myOrder-gray-font">51次</span>-->
              <!--<span style="color:#DA7769;float: right;">¥12555</span>-->
            <!--</div>-->
            <!--<div class="myOrder-gray-font chat-div-contain">-->
              <!--<div class="chat-div-gray">-->
                <!--<div class="chat-div-gray" style="background-color:#DA7769;width:50%;"></div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</a>-->
        <!--</div>-->
  </ion-content>
</ion-view>
