<ion-view hide-tabs="true">
  <ion-nav-title>{{'活动规则'|T}}</ion-nav-title>
  <ion-content style="border-top: 1px solid #ddd;background: #fff;">
    <div class="list">
      <div style="padding: 28px 12px 0;">
        <p style="word-wrap: break-word; word-break: normal;color: #666;">
          <!--成功推荐一个客户可获得超过500元的现金奖励。详询
          <a href="">13616885784 何先生</a>-->
          <!--<span class="bold">活动时间：</span><br>-->
          <!--即日起至2018年3月31日止。<br><br>-->
          <span class="bold title-r">{{'面向对象'|T}}：</span>
          <p>{{'所有用户'|T}}。</p>
          <span class="bold title-r">{{'奖励规则'|T}}：</span>
          <p>
          1.{{'完整提交被推荐客户信息，经客服人员确认有效奖励现金100元'|T}}。<br>
          2.{{'被推荐客户成功签约并付款，可再享受现金奖励500元'|T}}。<br>
          3.{{'被推荐客户为5家店以上的品牌连锁客户成功签约并付款，可再享受现金奖励900元'|T}}。<br>
          4.{{'同一客户只奖励第一个推荐人'|T}}。</p>
          <span class="bold title-r">{{'奖金发放'|T}}：</span>
          <p>{{'收到完整客户信息或被推荐用户付款后的五个工作日内发放现金奖励到推荐人指定账户'|T}}。</p>
          <p style="text-align:right;margin-top: 38px;">
            {{'最终解释权归宁波鼎壹科技有限公司所有'|T}}。
          </p>
          <p style="text-align:right;">
            {{'联系电话'|T}}：0574-88137829。
          </p>
        </p>
      </div>
    </div>
  </ion-content>
  <div class="row bar bar-footer" style="background-color: #fff;border:0;padding: 0 20px 10px;">
    <div class="text-center ng-binding" style="background-color: #ff2741;color: #fff;width: 100%;height: 40px;line-height: 40px;border-radius: 4px;" ng-click="goForm()">{{'点我推荐'|T}}</div>
</ion-view>
