<ion-view hide-nav-bar="true" class="tour">
  <ion-slide-box auto-play="false" slide-interval="5000" on-slide-changed="slideHasChanged($index)">

    <ion-slide>
      <a class="right button button-small button-assertive" style="border:0;opacity:0.8;position:absolute;right:5%;top:2%;background: #fff;color:#333" ng-click="goHome()">跳过</a>
      <img src="images/slider2-b.jpg" />
    </ion-slide>

    <!-- <ion-slide>
      <a class="right button button-small button-assertive" style="border:0;opacity:0.4;position:absolute;right:5%;top:2%;" ui-sref="login">跳过</a>
      <img src="img/boot-page-2.png" />
    </ion-slide> -->

  </ion-slide-box>
</ion-view>
